@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);
}
body{
  margin-top: 30px;
}
/* card */
.card__container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
}
.card__container {
  padding-block: 5rem;
}
.card__containe {
    display: flex;
  margin-inline: 1.75rem;
  
  border-radius: 1.25rem;
  overflow: hidden;
}
.card__article {
  width: 300px;
  border-radius: 1.25rem;
  /* overflow: hidden; */
  margin:auto 13px;
  transform: translateY(0px);
}
.card__image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
  border-radius: 50px;
  overflow: hidden;
  transition: all ease 0.9s;
}
.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 1;
  transform: translateY(-80px);
  opacity: 0;
  transition: all ease 0.9s;
}
.card__article:hover .card__data{
  opacity: 1;
  z-index: 99;
  transform: scale(1.13);
}
.card__article:hover .card__image{
  background-color: black;
  transform: scale(.95);
}

.card__image {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  
  position: relative;
  z-index: 5;
}
.card__shadow{
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    border-radius: 50%;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);

}
.card__name{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: .75rem;

}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
}
