* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.nav-con {
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  background: white;
  border-radius: 50px;
  padding: 1px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}
nav ul li {
  z-index: 2;
  list-style: none;
  display: inline-block;
  padding: 6px 25px;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #777;
  cursor: pointer;
  position: relative;
  transition: all ease 0.8s;
}
nav ul li:after {
  z-index: -1;
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: ease all 0.8s;
}
nav ul li:hover {
  color: white;
}
nav ul li:hover::after {
  top: 50%;
  opacity: 1;
}
nav ul li a:active::after {
  top: 50%;
  opacity: 1;
}
nav {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
